<table border="menu">
    <tr><td><center><br>編號</br></center></td><td><center><br>餐點</br></center></td><td><center><br>價錢</br></center></td><tr>
{% for i in range(1,mlsz) %}<tr><td>{{menu[i][:-1].split(' ')[0]}}</td><td>{{ menu[i][:-1].split(' ')[1] }}</td><td> ${{ menu[i][:-1].split(' ')[2] }}</td></tr>
{% endfor %}
<tr><td></td><td>總餐點數</td><td>{{mlsz-1}}</td></tr>
</table>

<form method="post" action="{{ url_for('change') }}">
    品項:<input type=text name=item>
    價錢:<input type=text name=price>
    要更改的編號:<input type=text name=number>
    <button type="submit">submit</button>
</form>
<form method="post" action="{{ url_for('edit_menu') }}">
    <button type="submit">back</button>
</form>